<!--<app-heat-map></app-heat-map>-->
<!--<app-road-name></app-road-name>-->

<!--<app-graph-bar></app-graph-bar>-->
<!--<app-grapg-pi></app-grapg-pi>-->

<!--<app-table-road></app-table-road>-->
<nav>
  <a routerLink="/pi" routerLinkActive="active">Pi</a>
  <a routerLink="/bar" routerLinkActive="active">Bar</a>
  <a routerLink="/heat" routerLinkActive="active">HeatMap</a>
  <a routerLink="/table" routerLinkActive="active">Table</a>
  <a routerLink="/location" routerLinkActive="active">Location</a>
  <a routerLink="/marker" routerLinkActive="active">marker</a>
</nav>

<router-outlet></router-outlet>
